name: Deploy Microservices

on:
  push:
    branches: [ main ]

jobs:

  deploy-user-service:
    runs-on: self-hosted
    if: |
      contains(join(github.event.head_commit.modified, ' '), 'user-service/') ||
      contains(join(github.event.head_commit.added, ' '), 'user-service/') ||
      contains(join(github.event.head_commit.removed, ' '), 'user-service/') ||
      contains(join(github.event.head_commit.modified, ' '), 'pom.xml')
    steps:
      - name: Deploy User Service
        run: bash ~/microservices/smart-expense-system/user-service/deploy.sh

  deploy-expense-service:
    runs-on: self-hosted
    if: |
      contains(join(github.event.head_commit.modified, ' '), 'expense-service/') ||
      contains(join(github.event.head_commit.added, ' '), 'expense-service/') ||
      contains(join(github.event.head_commit.removed, ' '), 'expense-service/') ||
      contains(join(github.event.head_commit.modified, ' '), 'pom.xml')
    steps:
      - name: Deploy Expense Service
        run: bash ~/microservices/smart-expense-system/expense-service/deploy.sh
